/* General text and image formatting */
@font-face {
    font-family: OpenSans-Light;
    src:url(fonts/OpenSans-Light.ttf);
    font-family: Roboto-Thin;
    src:url(fonts/Roboto-Thin.ttf);
    font-family: 'Open Sans', sans-serif;
}

@keyframes fadein {
	from { opacity: 0; }
	to 	 { opacity: 1; }
}

#myPhoto {
	float: right;
	border: 5px white solid; 
	border-radius: 90px;
	box-shadow: 2px 2px 2px #888888;
	margin-top: 50px;
	margin-left: 10px;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	animation: fadein 2s;
}

#navigation .current {
    background-color: #3D78E5;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

a {
    color: #3DBBE5;
    text-decoration: none;
}
#content a:hover {
	color: #3D59E5;
	transition: background-color 0.5s, ease 0.5s;
}
html, body {
	height: 100%;
}

body {
	font-family: Verdana, Georgia, 'Times New Roman', sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	background-image: url("../img/bgImg.png");
}
button {
	height: 50px;
	width: 200px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 16px;
    width: 152.5px;
}
.dropdown-content a {
    display: block;
    text-decoration: none;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Roboto-Thin', sans-serif;
    padding-left: 10px;
    font-size: 28pt;
    text-align: left;
    background-color: #282828;
}

h3 {
	color: white;
	background-color: #3F3F3F;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

h6{text-align: center;
}

img {display:block;
    margin-left: auto;
    margin-right: auto;
}

#header
{
	background: linear-gradient(to left, #464646,#272727);
	text-align: left;
	font-family: Couture;
	background-color: #222222;
	color: #ffffff;
}

.assignmentInfoHeader
{
    background: linear-gradient(to left, #464646,#272727);
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    background-color: #222222;
    color: #ffffff;
    font-size: 14pt;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#container {
    min-width: 768px;
    text-align: center;
	height: 100%;
}

#containercontact{max-width: 1920px;
}

#navigation{
    display: inline-block;
    height: 61px;
    background-color: #EAEAEA;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
}
#navItems {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#content{width:50%;
         min-width: 940px;
         min-height: 200px;
         padding-bottom:10px;
         margin-left:auto;
         margin-right:auto;
         background-color: #ffffff;
         box-shadow: 5px 5px 5px #888888;
	    text-align: justify;
		margin-bottom: 10px;
}
#contactContent{width:30%;
         min-height: 200px;
         padding-bottom:10px;
         margin-left:auto;
         background-color: #ffffff;
         box-shadow: 5px 5px 5px #888888;
	    text-align: justify;
		float: left;
	
}

.demoContent {
    padding-bottom:20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #888888;
    text-align: left;
	margin-bottom: 10px;
}
.demoThumb {
	width: 20%;
	border: 1px solid black;
	display:inline;
	float:right;
	margin-left: auto;
	margin-right: auto;
}
#demoContainer { 
	min-width: 940px;
	min-height: 200px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#contentText{
    padding-left: 10px;
    padding-right: 10px;
}

.downloadLinks {
    margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.downloadLinks a:hover {
    color: #3D59E5;
    transition: background-color 0.5s, ease 0.5s;
}

#demoContent img {
    float: right;
    transition: 0.2s;
    position: absolute;
    border: 2px solid #222222;
}

#demoContent img:hover {
    position: absolute;
    transform:scale(1.5);
    transition: 0.2s;
    border: 2px solid #222222;
    box-shadow: 5px 5px 5px black;
}

#assignment_info
{
     background-color: #68E1FF;
     color: white;
     padding-bottom: 5px;
     padding-left: 5px;
     padding-right: 5px;
}

/* Other ID declaration and formatting */
#footer {
    height: 61px;
    background-color: #EAEAEA;
    border-top: 1px solid grey;
	width: 100%;
	box-shadow: 0px 500px 0px 500px #EAEAEA;
}

#linkedin{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
#contactWrapper{width: 50%;
}
/* List formatting */
ol {list-style-type: lower-roman
}
#navigation li {
    float: left;
    text-decoration: none;
}
#navigation ul {
    list-style-type: none;
}

/* Dropdown Button */
#navigation li a{
    font-family: 'Roboto-Thin', sans-serif;
    color: #222222;
    padding: 16px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
}
/* Dropdown button on hover & focus */
#navigation li a:hover{
    background-color: #3DBBE5;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown {
	width: 152.5px;
}
a:visited {
	color: #3C0099;
}
