/* General text and image formatting */
@font-face {
    font-family: OpenSans-Light;
    src:url(fonts/OpenSans-Light.ttf);
    font-family: Roboto-Thin;
    src:url(fonts/Roboto-Thin.ttf);
    font-family: 'Open Sans', sans-serif;
}

.current {
    background-color: #3D78E5;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

a {
    color: #3DBBE5;
    text-decoration: none;
}
#content a:hover {
    color: #3D59E5;
    transition: background-color 0.5s, ease 0.5s;
}

body {
    font-family: Verdana, Georgia, 'Times New Roman', sans-serif;
     font-size: 12pt;
     background-color: #E2E2E2;
     margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 16px;
    width: 152.5px;
}
.dropdown-content a {
    display: block;
    text-decoration: none;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Roboto-Thin', sans-serif;
    padding-left: 10px;
    font-size: 28pt;
    text-align: left;
    background-color: #282828;
}

h3
{
    color: white;
    background-color: #3F3F3F;
    padding-left: 10px;

}

h6{text-align: center;
}

img {display:block;
    margin-left: auto;
    margin-right: auto;
}

#header
{
	background: linear-gradient(to left, #464646,#272727);
	text-align: left;
	font-family: Couture;
	background-color: #222222;
	color: #ffffff;
}

#assignment_info_header
{
    background: linear-gradient(to left, #464646,#272727);
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    background-color: #222222;
    color: #ffffff;
    font-size: 14pt;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;

}

#container {
    min-width: 768px;
    text-align: center;
}

#containercontact{max-width: 1920px;
}

#navigation{
    display: inline-block;
    height: 61px;
    background-color: #EAEAEA;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
}
#navItems {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#content{width:50%;
         min-width: 940px;
         min-height: 200px;
         padding-bottom:10px;
         margin-left:auto;
         margin-right:auto;
         background-color: #ffffff;
         box-shadow: 5px 5px 5px #888888;
	    text-align: justify;
}
.demoContentOdd {
    z-index: 100;
    width:40%;
    min-width: 640px;
    min-height: 300px;
    padding-bottom:10px;
    padding-right: 50px;
    margin-left:0;
    margin-right:auto;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #888888;
    text-align: left;
}
.demoContentEven {
    z-index: 100;
    width:40%;
    min-width: 640px;
    min-height: 300px;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #888888;
    text-align: right;
}
#contentText{
    padding-left: 10px;
    padding-right: 10px;
}

.downloadLinks {
    float: right;
}
.downloadLinks a:hover {
    color: #3D59E5;
    transition: background-color 0.5s, ease 0.5s;
}

#demoContent img {
    float: right;
    transition: 0.2s;
    position: absolute;
    border: 2px solid #222222;
}

#demoContent img:hover {
    position: absolute;
    transform:scale(1.5);
    transition: 0.2s;
    border: 2px solid #222222;
    box-shadow: 5px 5px 5px black;
}

#contentcontact{
    min-width: 480px;
    min-height: 600px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:150px;
    border: 5px solid #000000;
    background-color: #c0c0c0;
    box-shadow: 10px 10px 5px #888888;
}

#assignment_info
{
     background-color: #68E1FF;
     color: white;
     padding-bottom: 5px;
     padding-left: 5px;
     padding-right: 5px;
}

/* Other ID declaration and formatting */
#footernav{text-align: center;
}
#footernav a{margin-right: 20px;
            display: inline-block;
}
#footernav a:link{text-decoration: none;
                     color: #255255;
}
#footernav a:visited{text-decoration: none;
                     color: #7A7A7A;
}
#footernav a:hover{
                              text-shadow: 1px 1px #888888;
}

/* List formatting */
ol {list-style-type: lower-roman
}
li {
    float: left;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* Dropdown Button */
li a{
    font-family: 'Roboto-Thin', sans-serif;
    color: #222222;
    padding: 16px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
}
/* Dropdown button on hover & focus */
li a:hover{
    background-color: #3DBBE5;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
